html{
    scroll-behavior: smooth;
    scroll-padding-top: 55px;
}

body{
    margin: 0;
    padding: 0;
}
body *{
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.grid{
    display: grid;
}

:root{
    --main-color: #1A69DF;
}

ul{
    list-style: none;
}

.flex {
    display: flex;
}

div.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}