button{
    padding: 5px 30px;
}

.btn-specialice{
    border: 2px solid var(--main-color);
    border-radius: 10px;
    cursor: pointer;
}

#NavBtn{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#NavBtn::after{
    content: "";
    position: absolute;
    z-index: -1;
    left: -100%;
    right: 100%;
}

#NavBtn:hover::after{
    left: 0;
    right: 0;
    
}

#NavBtn::after, #NavBtn:hover::after{
    top: 0;
    bottom: 0;
}

#NavBtn, #NavBtn:hover, #NavBtn::after, #NavBtn:hover::after{
    transition: all 0.7s;
}

.btn-specialice, #NavBtn:hover{
    background-color: white;
}

#NavBtn:hover, .btn-specialice:hover{
    color: white;
}

.btn-specialice:hover, #NavBtn::after{
    background-color: var(--main-color);
}